Body {
    background-color: black;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

header {
    height: auto;
    background-color: black;
    color: chartreuse;
}

main {}

nav {
    padding-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: lime;
}

.active {
    background-color: #4CAF50;
}

.active2 {
    background-color: #4CAF50;
    float: right;
}

section {
    background-color: black;
}

h2 {
    background-color: black;
    color: chartreuse;
}

h4 {
    color: chartreuse;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img {
    border-radius: 20px;
}

.container {
    max-width: 1800px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.relogio {
    color: chartreuse;
    position: absolute;
    bottom: 0;
    width: 100%;
}
